/Week 2/JavaApplication7/nbproject/private/
/Week 2/JavaApplication7/build/
/Week 2/Pyramid/nbproject/private/
/Week 2/Pyramid/build/
/Week 2/MidtermA/nbproject/private/
/Week 2/MidtermA/build/
/Week 2/MidtermB/nbproject/private/
/Week 2/MidtermB/build/
/Week 2/MidtermC/nbproject/private/
/Week 2/MidtermC/build/
/Week 2/MidtermD/nbproject/private/
/Week 2/MidtermD/build/
/Week 2/MidtermD/dist/
/Week 2/MidtermD2/nbproject/private/
/Week 2/MidtermD2/build/
/Week 2/SquareAsterisk/nbproject/private/
/Week 2/SquareAsterisk/build/
/Week 2/SquareChar/nbproject/private/
/Week 2/SquareChar/build/
/Week 3/VLAL/nbproject/private/
/Week 3/VLAL/build/
/Week 3/DiceRolling/nbproject/private/
/Week 3/DiceRolling/build/
/Week 3/SavingsAccount/nbproject/private/
/Week 3/SavingsAccount/build/
/Week 3/vehicle/nbproject/private/
/Week 3/vehicle/build/
/Week 3/RobotTest/nbproject/private/
/Week 3/RobotTest/build/
/Week 3/RecursionTest/nbproject/private/
/Week 3/RecursionTest/build/
/Week 3/CardDrawTest/nbproject/private/
/Week 3/CardDrawTest/build/
/Week 3/PersonTest/nbproject/private/
/Week 3/PersonTest/build/
/Week 3/GUI/nbproject/private/
/Week 3/TaylorRecursion/nbproject/private/
/Week 3/TaylorRecursion/build/
/Week 3/TayRec/nbproject/private/
/Week 3/GUIScore/nbproject/private/
/Week 3/GUIScore/build/